.previewPost{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  max-width: 370px;
  max-height: 350px;
  padding: 20px;
}
.previewPostTitle{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  max-height: 140px;
  overflow: hidden;
  flex-wrap: wrap;
  margin: 0 0 15px 0;
  text-align: center;
}
.previewPostTitle h2{
  font-size: 19px;
  font-weight: 800;
  color: #000;
  margin-left: auto;
}
.previewPostDescription{
  height: 140px;
  overflow: hidden;
}
.previewPostDescription p{
  font-size: 14px;
}
.previewPostDescriptionText{
  max-width: 300px;
  word-break: break-all;
}
.previewPostTitleDecorate{
  border-radius: 50px;
  width: 12px;
  height: 12px;
  margin: 0 7px;
}
.previewPostData{
  font-size: 13px;
  font-weight: bold;
  padding: 5px 0 0 0;
  margin-left: auto;
}
.previewPostButton{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 10px 0 8px 0;
}
.previewPostButton button{
  background-color: #1eb039;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 5px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.2s ease;
}
.previewPostButton button:active{
  background-color: #16c436;
}